<nav>
    <div>
        <ul>
            <li routerLink="/"><span>Home</span></li>
            <li routerLink="/project-initialization"><span>Project initialization</span></li>
            <li routerLink="/simple-component"><span>Component Example</span></li>
            <li routerLink="/props-component"><span>Component Parameters</span></li>
            <li routerLink="/slots-component"><span>Component Projection</span></li>
            <li routerLink="/extend-component"><span>Extending Components</span></li>
            <li routerLink="/services-component"><span>Services</span></li>
        </ul>
    </div>
</nav>