<nav>
    <div>
        <ul>
            <li routerLink="/"><span>Home</span></li>
            <li routerLink="/project-initialization"><span>Project initialization</span></li>
            <li routerLink="/simple-component"><span>Compnent Example</span></li>
            <li routerLink="/props-component"><span>Compnent Parameters</span></li>
            <li routerLink="/slots-component"><span>Compnent Projection</span></li>
            <li routerLink="/services-component"><span>Service</span></li>
        </ul>
    </div>
</nav>