/* You can add global styles to this file, and also import other style files */
body, html {
  padding: 0;
  margin: 0;
  background-color: #333333;
  color: white;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('./assets/background3.jpg');
  background-position: center;
  height: 100vh;
}

p > code,
ul > li > code {
  background-color: #9696967a;
  padding: 3px;
}


@media screen and (max-width: 640px) {
  #root nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 54px;
    max-height: 15vh;
    overflow: auto;
  }
  #root .topbar {
    width: 100%;
  }
  #root section {
    width: calc(100vw - 20px);
    height: 75vh;
    margin: calc(54px + 10vh) 10px 10px 10px; 
  }
}
