<div>
    <h1>{{ 'page.initialization.title' | translate }}</h1>
    <p>{{ 'page.initialization.p1' | translate }}</p>
    <p>{{ 'page.initialization.p2' | translate }}</p>

    <h2>{{ 'page.initialization.installation.title' | translate }}</h2>
    <p>{{ 'page.initialization.installation.p1' | translate }}</p>
    <code>npm install -g @angular/cli</code> 
    <p>{{ 'page.initialization.installation.p2' | translate }}</p>

    <h2>{{ 'page.initialization.project.title' | translate }}</h2>
    <p>{{ 'page.initialization.project.p1' | translate }}</p>
    <code>ng new framework-hero</code> 
    <p>{{ 'page.initialization.project.p2' | translate }}</p>
    
    <h2>{{ 'page.initialization.serve.title' | translate }}</h2>
    <p>{{ 'page.initialization.serve.p1' | translate }}</p>
    <code>cd framework-hero<br>ng serve --open</code> 
</div>