<div>
    <h1>{{ 'page.components.title' | translate }}</h1>
    
    
    <p>{{ 'page.components.p1' | translate }}</p>
    <p>{{ 'page.components.p2' | translate }}</p>
    <p>{{ 'page.components.p3' | translate }}</p>


    <h2>{{ 'page.components.sfc.title' | translate }}</h2>
    
    <p>{{ 'page.components.sfc.p1' | translate }}</p>
    
    
    <label>single.component.ts</label>
    <pre><code [highlight]="code1" [lineNumbers]="true"></code></pre>

    <p>
        <code>@Component()</code><span>{{ 'page.components.sfc.p2' | translate }}</span>
    </p>
    <ul>
        <li>
            <code>selector</code> - {{ 'page.components.sfc.selector' | translate }}
        </li>
        <li>
            <code>template</code> or <code>templateUrl</code> - {{ 'page.components.sfc.template' | translate }}
        </li>
        <li>
            <code>styles</code> or <code>stylesUrls</code> {{ 'page.components.sfc.styles' | translate }}
        </li>
    </ul>


    <h2>{{ 'page.components.basic.title' | translate }}</h2>
    <p>{{ 'page.components.basic.p1' | translate }}</p>
    <label>basic.component.ts</label>
    <pre><code [highlight]="code2" [lineNumbers]="true"></code></pre>
    
    <h2>{{ 'page.components.usage.title' | translate }}</h2>
    <p>{{ 'page.components.usage.p1' | translate }}</p>
    <label>app.component.html</label>
    <pre><code [highlight]="code3" [lineNumbers]="true"></code></pre>
    <p>{{ 'page.components.usage.p2' | translate }}</p>
    <label>app.module.ts</label>
    <pre><code [highlight]="code4" [lineNumbers]="true"></code></pre>
    
    <h2>{{ 'page.components.root.title' | translate }}</h2>
    <p>{{ 'page.components.root.p1' | translate }}</p>

</div>