<div>
    <h1>Component Introduction</h1>

    <p>
        Angular is a component-based framework that is well designed to build scalable web applications.
        The smallest block from which application is built is the component. It is a TypeScript class with
        <code>@Component()</code> decorator and dedicated HTML template and styles. This HTML templates instructs
        that framework how to render the component and CSS stylesheet defines the appearance of the elements within
        component.
    </p>

    <p>
        Components may vary in layout and functionality. There are many "good-practices" how to 
        project components for your application. One of them is a "Component-Container" pattern also 
        known as "Smart and Dumb Components" in Angular environment. Concept is simple - "Container"
        (or a "Smart" component) is responsible for every logic and data flow. "Dumb" component (or "Component" 
        also called "Presentation Component") is responsible for rendering the data and layout.  
        That pattern will be explained in further reading. But as you can see the components 
        can be very simple HTML template but it also can be responsible for very complex logic that 
        can fetch data from server and process it. But starting from starch let me introduce you into basic Angular component.
    </p>

    <p>
        To create a component, you need to create a <code>*.component.ts</code> file where that decorator is
        attached to specific <code>*Component</code> class. Code example is provided below as
        <code>single.component.ts</code>
        in section "Single File Component". Each component could have a set of properties and methods like classic
        TypeScript class.
        Component are strongly encapsulated and without specific properties the data sharing between
        components is not possible. In further reading it will be explained how to do that.
    </p>

    

    <h2>Single File Component</h2>
    <p>
        Single file components are rarely used in Angular but it is possible to use them. This concept assumes
        that you define your component with all logic template and styles in a single file and then you can import
        it in other files. This is the minimal approach.
    </p>
    <label>single.component.ts</label>
    <pre><code [highlight]="code1" [lineNumbers]="true"></code></pre>

    <p>
        <code>@Component()</code> decorator require at least two properties to properly define a component.
    </p>
    <ul>
        <li>
            <code>selector</code> - the first one that defines the tag name of
            the component that will be associated with that class.
        </li>
        <li>
            <code>template</code> or <code>templateUrl</code> - that defines the HTML 
            template or file location of the HTML template that will be rendered with that component.
        </li>
        <li>
            <code>styles</code> or <code>stylesUrls</code> (Optional) - that defines the CSS definitions or stylesheet file location.
        </li>
    </ul>


    <h2>Basic Angular Component</h2>
    <p>
        More often you will see the component definition with separated <code>*.html</code> and <code>*.css</code> 
        files from the main <code>*.component.ts</code> file. This is the recommended approach that helps you to organize
        your code and makes it easier to maintain. Also the text editor will be able highlight the code and give you 
        additional linting and code completion. But the major advantage is that you starting to using the MVC design pattern where
        the V (View) is the component HTML definition and C (Controller) is the component class. But where is the M (Model)?
        The Model could be in external files that define additional classes and interfaces.
    </p>
    <label>basic.component.ts</label>
    <pre><code [highlight]="code2" [lineNumbers]="true"></code></pre>

    <h2>Component usage</h2>
    <p>
        When the component class definition is done, now it's time to use it. So to do that in HTML template
        of other component you need to add markup that you defined in 'selector' section in previous
        example. And that's it! Each Angular project has root component that by default is named <code>app.component.ts</code>.
        So in related <code>app.component.html</code> file you can add the following code to see your new component: 
    </p>
    <label>app.component.html</label>
    <pre><code [highlight]="code3" [lineNumbers]="true"></code></pre>
    <p>
        Make sure that your component has been added to valid module. By default for
        Angular the root module is defined in <code>app.module.ts</code> file.
        Users can also define their own modules. That feature helps to easily
        maintain the project structure.
    </p>

    <label>app.module.ts</label>
    <pre><code [highlight]="code4" [lineNumbers]="true"></code></pre>

    <h2>Root Component</h2>
    <p>
        Each framework must have its own beginning where everything is initialized. In Angular project you can find the <code>index.html</code> file and
        if you open that file you will see that inside the body tag there is a 'app-root' selector. This is the reference 
        to the root component that by default is called <code>app.component.ts</code>. It is not strict definition and you you want
        to change it, you can do it.
    </p>

</div>